@model slnLibreria.ViewModels.LibrosView
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#alertMessage').delay(6000).fadeOut();
    });

</script>
<h2>Nuevo Libro</h2>

<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorCrearLibro))
    {
        <div class="alert alert-warning" role="alert">
            @MvcHtmlString.Create(ViewBag.ErrorCrearLibro.Replace("\n", "</br>"))
        </div>
    }
</div>

@using (Html.BeginForm("Crear", "Libros",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Datos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.libro.libroID)
        <div class="form-group">
            @Html.LabelFor(model => model.libro.libroNombre, "Nombre: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.libro.libroNombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.libro.libroNombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.libro.libroAutor, "Autor: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.libro.libroAutor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.libro.libroAutor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.libro.libroISBN, "ISBN: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.libro.libroISBN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.libro.libroISBN, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.libro.libroSinopsis, "Sinopsis: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.libro.libroSinopsis, new { @class = "form-control", @id = "txtDescripcion", @style = "resize: none; width: 100%; height: 150px;" })
                @Html.ValidationMessageFor(model => model.libro.libroSinopsis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.selectedMateria, "Materia: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.selectedMateria, Model.listaMaterias, "Seleccione una Materia", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.aplicaIVA, "Aplica IVA: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.aplicaIVA, true)
                @Html.ValidationMessageFor(model => model.libro.libroIVA, "", new { @class = "text-danger" })
            </div>
        </div>
        <label for="imagenes">Seleccionar Imagenes (mínimo una)</label>
        <div class="form-group" id="imagenes">
            <input type="file" name="file" class="form-control-file"/>
            <br />
            <input type="file" name="file" class=" form-control-file"/>
            <br />
            <input type="file" name="file" class=" form-control-file"/>
            <br />
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-dark m-1" })
</div>