@model slnLibreria.ViewModels.LibrosView
@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libro</h2>
<hr />
<div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Id:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.libroMateria.libroID)
            </dd>
            <dt>
                Nombre:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.libroMateria.libroNombre)
            </dd>
            <dt>
                Autor:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.libroMateria.libroAutor)
            </dd>
            <dt>
                ISBN:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.libroMateria.libroISBN)
            </dd>
            <dt>
                Materia:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.libroMateria.materiaNombre)
            </dd>
            <dt>
                Aplica IVA:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.libroMateria.libroIVA)

            </dd>
        </dl>
        <p>
            @Html.ActionLink("Editar", "Editar", new { id = Model.libroMateria.libroID }, new { @class = "btn btn-outline-success m-1" }) |
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-outline-dark m-1" })
        </p>
    </div>
    <hr />
    <div>
        <h4>Salas</h4>
        @if (string.IsNullOrEmpty(ViewBag.SinSalas))
        {<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre Sala
            </th>
            <th>
                Libreria
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.librosMateriSalaLibreria)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.salaNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.libreriaNombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", "Libros", new { id = item.salaID }, new { @class = "btn btn-outline-success" }) |
                    @Html.ActionLink("Detalles", "Detalles", "Libros", new { id = item.salaID }, new { @class = "btn btn-outline-info" }) |
                    @Html.ActionLink("Eliminar", "Eliminar", "Libros", new { id = item.salaID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

        }
        else
        {
            <div class="m-1">
                @if (!string.IsNullOrEmpty(@ViewBag.SinSalas))
                {
                    <div class="alert alert-warning" role="alert">
                        @MvcHtmlString.Create(ViewBag.SinLibreria.Replace("\n", "</br>"))
                    </div>
                }
            </div>
        }

    </div>
    <hr />
</div>
