﻿@model slnLibreria.ViewModels.LibrosView
@{

    ViewBag.Title = "Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libros</h2>
<p>
    @Html.ActionLink("Nueva", "Crear")
</p>
<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorLibreria))
    {
        <div class="alert alert-warning" role="alert">
            @MvcHtmlString.Create(ViewBag.ErrorLibro.Replace("\n", "</br>"))
        </div>
    }
    @if (!string.IsNullOrEmpty(@ViewBag.Libreria))
    {
        <div class="alert alert-success" role="alert">
            @MvcHtmlString.Create(ViewBag.Libro.Replace("\n", "</br>"))
        </div>
    }
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Autor
            </th>
            <th>
                ISBN
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.libros)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.libroNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.libroAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.libroISBN)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", "Sala", new { id = item.libroID }, new { @class = "btn btn-outline-success" }) |
                @Html.ActionLink("Detalles", "Detalles", "Sala", new { id = item.libroID }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Eliminar", "Eliminar", "Sala", new { id = item.libroID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
        }
    </tbody>

</table>



