@model IEnumerable<slnLibreria.Models.Materia>

@{
    ViewBag.Title = "Materias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#alertMessage').delay(6000).fadeOut();
    });

</script>

<h2>Materias</h2>

<p>
    @Html.ActionLink("Agregar", "Crear",null, new { @class = "btn btn-outline-primary" })
</p>
<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorMateria))
    {
        <div class="alert alert-warning" role="alert">
            @MvcHtmlString.Create(ViewBag.ErrorMateria.Replace("\n", "</br>"))
        </div>
    }
    @if (!string.IsNullOrEmpty(@ViewBag.Materia))
    {
        <div class="alert alert-success" role="alert">
            @MvcHtmlString.Create(ViewBag.Materia.Replace("\n", "</br>"))
        </div>
    }
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.materiaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.materiaNombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", "Materia", new { id = item.materiaID }, new { @class = "btn btn-outline-success" })|
                @Html.ActionLink("Eliminar", "Eliminar", "Materia", new { id = item.materiaID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>
