<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Feria de Libros</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/all.css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div id="MenuItems" class="navbar col-12" style="padding-left:5%">
            <a class="navbar-brand pl-4" href="@Url.Action("Index", "Home")">Feria de Libros</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto ml-1">
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="nav-item dropdown">

                            <a title="Administracion" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administracion</a>
                            <div class="dropdown-menu">
                                <a title="Librerias" class="dropdown-item" href="@Url.Action("Index", "Libreria")">Librerias</a>
                                <a title="Salas" class="dropdown-item" href="@Url.Action("Index", "Sala")">Salas</a>
                                <a title="Materias" class="dropdown-item" href="@Url.Action("Index", "Materia")">Materias</a>
                                <a title="Libros" class="dropdown-item" href="@Url.Action("Index", "Libros")">Libros</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Relacionar", "LibrosSalas")">Agregar Libro a Sala</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Index", "Role")">Roles</a>
                                <a class="dropdown-item" href="@Url.Action("Register", "Account")">Registar Usuario</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a title="Reporte" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
                            <div class="dropdown-menu">
                                <a title="Reporte 1" class="dropdown-item" href="@Url.Action("Reporte1", "Report")">Reporte 1</a>
                                <a title="Reporte 2" class="dropdown-item" href="@Url.Action("Reporte2", "Report")">Reporte 2</a>
                                <a title="Reporte 3" class="dropdown-item" href="@Url.Action("Reporte3", "Report")">Reporte 3</a>
                                <a title="Reporte 4" class="dropdown-item" href="@Url.Action("Reporte4", "Report")">Reporte 4</a>
                                <a title="Reporte 5" class="dropdown-item" href="@Url.Action("Reporte5", "Report")">Reporte 5</a>
                                <a title="Reporte 6" class="dropdown-item" href="@Url.Action("Reporte5", "Report")">Reporte 6</a>
                                <a title="Reporte 7" class="dropdown-item" href="@Url.Action("Reporte5", "Report")">Reporte 7</a>
                                <a title="Reporte 8" class="dropdown-item" href="@Url.Action("Reporte5", "Report")">Reporte 8</a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Administrador") || User.IsInRole("Vendedor"))
                    {
                        <li class="nav-item">
                            <a class=" nav-link" href="@Url.Action("Index", "PedidosVendedor")">Despachar <i class="fas fa-box"></i></a>
                        </li>
                    }
                    @if (User.IsInRole("Administrador") || User.IsInRole("Caja"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "PedidosCaja")">Liquidar<i class="fas fa-check-double"></i></a>
                        </li>
                    }
                </ul>
                <div class="align-items-end pr-3">
                    <a class="">@Html.Partial("_LoginPartial")</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Feria del libro</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
