﻿@model slnLibreria.ViewModels.ClientesView
@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Bienvenido a la feria del libro</h1>
</div>
<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorCedula))
    {
        <div class="alert alert-warning" role="alert" id="warning-alert">
            @MvcHtmlString.Create(ViewBag.ErrorCedula.Replace("\n", "</br>"))
        </div>
    }
    @if (!string.IsNullOrEmpty(@ViewBag.CodigoUsuario))
    {
        <div class="alert alert-success" role="alert" id="success-alert">
            @MvcHtmlString.Create(ViewBag.CodigoUsuario.Replace("\n", "</br>"))
        </div>
    }
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorUsuarioNoCliente))
    {
        
        <div class="alert alert-primary" role="alert" id="primary-alert">
            @MvcHtmlString.Create(ViewBag.ErrorUsuarioNoCliente.Replace("\n", "</br>"))
            @if (Model.clienteCI_RUC != null)
            {
                @Html.ActionLink("Registrarse", "GenerarClienteAnonimo", "Home", new { id = Model.clienteCI_RUC }, new { @class = "btn btn-outline-secondary" })
            }
        </div>
    }
</div>
@using (Html.BeginForm("Index", "Home"))
{
    <div class="form-group">
        <h4>Registro</h4>
        <label for="txtUsrCIRUC" class="">Ingrese su número de cédula: </label>
        @Html.TextBoxFor(model => model.clienteCI_RUC, new { @class = "form-control", @id = "txtUsrCIRUC" , @type = "number" })
        <input type="submit" value="Registrarse" class="btn btn-outline-success m-2" />
    </div>
}

<hr />
<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorIngresar))
    {
        <div class="alert alert-warning" role="alert" id="warning-alert">
            @MvcHtmlString.Create(ViewBag.ErrorIngresar.Replace("\n", "</br>"))
        </div>
    }
</div>
@using (Html.BeginForm("IngresarClientes", "Home"))
{
    <div class="form-group">
        <h4>Ingresar</h4>
        <label for="txtUsrCodigo" class="">Ingrese su código: </label>
        @Html.TextBoxFor(model => model.codigoUsuario, new { @class = "form-control", @id = "txtUsrCodigo", @type = "number" })
        <input type="submit" value="Ingresar" class="btn btn-outline-success m-2" />
    </div>
}