﻿@model slnLibreria.ViewModels.ClientesView
@{
    ViewBag.Title = "Inicio";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#alertMessage').delay(15000).fadeOut();
    });
</script>

<div class="jumbotron">
    <h1>Bienvenido a la feria del libro</h1>
</div>
<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorCedula))
    {
        <div class="alert alert-warning" role="alert">
            @MvcHtmlString.Create(ViewBag.ErrorCedula.Replace("\n", "</br>"))
        </div>
    }
</div>
<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.CodigoUsuario))
    {
        <div class="alert alert-success" role="alert">
            @MvcHtmlString.Create(ViewBag.CodigoUsuario.Replace("\n", "</br>"))
        </div>
    }
</div>
@using (Html.BeginForm("Index", "Home"))
{
    <div class="form-group">
        <h4>Registro</h4>
        <label for="txtUsrCIRUC" class="">Ingrese su número de cédula: </label>
        @Html.TextBoxFor(model => model.clienteCI_RUC, new { @class = "form-control", @id = "txtUsrCIRUC" , @type = "number" })
        <input type="submit" value="Registrarse" class="btn btn-outline-success m-2" />
    </div>
}

<div class="m-1">
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorIngresar))
    {
        <div class="alert alert-success" role="alert">
            @MvcHtmlString.Create(ViewBag.ErrorIngresar.Replace("\n", "</br>"))
        </div>
    }
</div>
<hr />

@using (Html.BeginForm("IngresarClientes", "Home"))
{
    <div class="form-group">
        <h4>Ingresar</h4>
        <label for="txtUsrCodigo" class="">Ingrese su código: </label>
        @Html.TextBoxFor(model => model.codigoUsuario, new { @class = "form-control", @id = "txtUsrCodigo", @type = "number" })
        <input type="submit" value="Ingresar" class="btn btn-outline-success m-2" />
    </div>
}